<%- include('../header')%>
<body>
<script type="text/javascript" src="../ckeditor/ckeditor.js"></script>
<header class="container-fluid">
   <img width=40 src="../images/logo2.png"><span style="color:#fff">RH CMS</span>
  <ul class="headerbar">
    <li><a href="/" target="_blank"><span class="glyphicon glyphicon-home"></span></a></li>
  </ul>
  <span class="user_panel"><img class="img-rounded" width=40 src="../images/pencil.png"> <%= user%> <a href="/admin/logout">退出</a></span>
</header>
<div class="sidebar">
  <div class=" sidenav">
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="搜索">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
          </div>
        </form>
        <ul class="nav nav-pills nav-stacked">
          <li ><a href="/admin/home">仪表盘</a></li>
          <li class="active"><a href="/admin/news">新闻管理</a></li>
          <li ><a href="/admin/date">日程管理</a></li>
          <li><a href="/admin/speaker">讲者管理</a></li>
          <li><a href="/admin/sponsor">赞助管理</a></li>
        </ul><br>
        
      </div>
</div>

<div class="container-fluid wrap">
  <div class="row">
    <div class="col-sm-12">
    <div class="row">
        <div class="col-sm-1 news_op">
          <a href="/admin/news"><<返回</a>
        </div>
        
        <div class="col-sm-4 news_op">
          <span style="font-size:20px;">新建新闻</span>
        </div>
        <div class="col-sm-7">
         
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 news_op">
          <span>标题：</span>
        </div>
        <div class="col-sm-4 news_op">
        <input type="text" class="form-control">
        </div>
        <div class="col-sm-7 text-right news_type">
         
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 news_op">
          <span>栏目：</span>
        </div>
        <div class="col-sm-2 news_op">
          <select class="selectpicker" data-width="100px">
              <option value="all">全部</option>
              <option value="section1">section1</option>
              <option value="section2">section2</option>
          </select>
        </div>
        <div class="col-sm-9  news_op">
          <label class="checkbox-inline"><input type="checkbox" value="" id="setTop"><span>置顶</span></label>
          <label class="checkbox-inline"><input id="endTime" type="text" class="form-control" placeholder="置顶失效时间"></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 news_op">
          <span>内容：</span>
        </div>
        <div class="col-sm-10 news_op">
          <textarea id="TextArea1" class="ckeditor"></textarea>
        </div>
        <div class="col-sm-1 text-right news_type">
         
        </div>
      </div>

       <div class="row">
        <div class="col-sm-1 news_op">
          
        </div>
        <div class="col-sm-7 news_op">
            <button type=button class="btn btn-default btn-sm" >保存</button>
          <button type=button class="btn btn-default btn-sm">预览</button>
          <button type=button class="btn btn-default btn-sm" >发布</button>
        </div>
        <div class="col-sm-4 news_op">

        </div>
      </div>

    </div>
  </div>
</div>

<script>
    
    $.datetimepicker.setLocale('ch');
    
    $('#endTime').datetimepicker({
      format:'Y-m-d H:i',
      minDate:0,
      step:60,

    });
</script>

<script src="../js/admin.js"></script>
<%- include('../footer')%>