<div>
    <div>filePic</div>
    <div><a href="javascript:window.opener.CKEDITOR.tools.callFunction( 1, 'http://localhost:3000/upload/info2/WGlsEt4rjYjElu43u3lfrQ8-.jpg');window.close();">fileName</a></div>
    <script>console.log(location.href)</script>
</div>