<%- include('header')%>
<body class="loginPgBody">


<div class="login">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center logbanner">登录CMS</div>
		</div>
		<div class="row">
			<div class="col-xs-12 line">
				 <div class="loginicon"><span class="glyphicon glyphicon-user "></span></div>
				<input type="text" class="form-control logmsg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 line">
				 <div class="loginicon"><span class="glyphicon glyphicon-lock "></span></div>
				<input type="password" class="form-control logmsg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 line codeline">
				 <div class="loginicon"><span class="glyphicon glyphicon-knight "></span></div>
				 <div class="imgcode"><img src="../images/imgcode.jpg" height="28" width="80" ></div>
				<input type=text class="form-control logmsg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 submitline">
				<button type="button" class="btn btn-primary denglu" on>登录</button>
			</div>
		</div>

	</div>
</div>








<script src="../js/login.js"></script>
<%- include('footer')%>